@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
// @import "./fontawesome/scss/fontawesome.scss";

//general
body {
  background-color: $dark-color;
  color: white;
  font-family: 'Outfit';
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $brand-color;
  }
}
//utility
.separatore_piccolo {
  height: 5px;
  background-color: $brand-color;
  width: 19rem;
  margin: 3rem auto;
}
a {
  color: white;
  text-decoration: none !important;
  &:hover {
    color: white;
  }
}
.title_font {
  font-family: 'Staatliches';
}
.hr {
  height: 2rem;
  width: 100%;
  background-color: $dark-green;
}
.hr_black {
  background-color: $dark-color;
  height: 1rem;
  width: 100%;
}
.active {
  color: $brand-color !important;
  font-weight: 700 !important;
}
.btn {
  background-color: $brand-color;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: $light-color;
    transition: all ease-in-out 0.2s;
    box-shadow: 1px 5px 7px 0px $brand-color;
  }
  &:hover a {
    color: $dark-color;
  }
  a {
    text-decoration: none;
    color: $brand-color;
    font-weight: bold;
  }
}
.side_card:hover {
  transform: none !important;
}
.my_card {
  text-align: center;
  color: $light-color;
  position: relative;
  &:hover {
    transform: translateY(-1rem);
    transition: all ease-in-out 0.3s;
    z-index: 20;
  }
  &:hover img {
    filter: brightness(0.5);
    box-shadow: 0px 3px 6px 0px #2ba84a75;
  }
  &:hover h3 {
    display: block;
  }
  img {
    width: 100% !important;
    object-fit: cover;
  }
  h3 {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Outfit';
    color: $light-color;
    font-weight: 900;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0.4rem;
    display: none;
  }
}
#form {
  a:hover {
    color: $brand-color;
  }
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 5rem auto;
  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    label {
      margin: 0.6rem 0;
      small {
        display: block;
      }
    }
    button {
      margin-top: 1rem;
    }
  }
}
.fa-users {
  color: white;
  &:hover {
    color: $brand-color;
    cursor: pointer;
  }
}
.background_brand {
  background-color: $brand-color;
}
.brand_text {
  color: $brand-color;
}
.btn_table {
  background: none;
  border: none;
}
// header
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(357deg, black, transparent);
  #navbar {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right {
      .dropdown {
        .dropdown-toggle {
          background: none;
          color: white;
          border: none;
          svg:hover {
            color: $brand-color;
          }
        }
        .dropdown-menu {
          background-color: $brand-color;
          color: white;
          text-align: center;
          li:hover {
            background-color: $dark-color;
            color: $brand-color;
          }
        }
      }
    }
    .left a,
    .right a {
      text-decoration: none;
      color: $light-color;
      padding: 0 1rem;
      font-weight: 300;
      &:hover {
        color: $brand-color;
      }
    }
    .center .logo {
      color: $brand-color;
      font-weight: 900;
      svg {
        margin-right: 0.1rem;
      }
    }
  }
}
main {
  margin-top: 5.5rem;
}
//homepage
#homepage {
  display: flex;
  .left_container,
  .right_container {
    margin-top: 1rem;
  }
  .left_container {
    width: 70%;
    .film_vetrina {
      position: relative;
      img {
        width: 100%;
        filter: brightness(0.5);
      }
      .details {
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(1deg, $brand-color, transparent, transparent);
        padding: 2rem;
        width: 100%;
        p {
          max-height: 9rem;
          overflow: scroll;
        }
        .subdetails {
          display: flex;
          justify-content: space-between;
          ul {
            display: flex;
            list-style: none;
            padding: 0;
            li {
              margin-right: 1rem;
            }
          }
        }
      }
    }
    .popoular_movie {
      .cards_container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.3rem;
        .card_container {
          width: 25%;
          padding: 0.3rem;
        }
      }
    }
  }
  .right_container {
    width: 30%;
    padding: 0 2rem;
    .series_container {
      .popoular_serie {
        .cards_container {
          max-height: 78.5rem;
          overflow: auto;
          .card_serie {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
//search
#search {
  .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    #type {
      background: none;
      border: none;
      color: $brand-color;
      font-weight: 900;
      &:focus-visible {
        outline: none;
      }
      option {
        background-color: $dark-color;
      }
    }
    input {
      margin: 1rem;
      color: white;
      border: none;
      background: none;
      border-bottom: 2px solid white;
      &:focus-visible {
        outline: none;
      }
    }
    svg:hover {
      cursor: pointer;
      transform: scale(115%);
      color: $brand-color;
      transition: 0.1s all ease;
    }
  }
  #results {
    display: flex;
    flex-wrap: wrap;
    .card_container {
      margin: 1rem 0;
      width: calc(100% / 5);
      .card_content {
        height: 100%;
        position: relative;
        padding: 0.5rem;
        &:hover h2 {
          display: block;
        }
        &:hover img {
          filter: blur(1px) brightness(0.5);
          transform: scale(105%);
          transition: all 0.1s ease-in-out;
          box-shadow: 0px 0px 9px 0px #2ba84a;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        h2 {
          display: none;
          position: absolute;
          bottom: 10%;
          padding: 1rem;
          filter: drop-shadow(2px 4px 6px $brand-color);
        }
      }
    }
  }
}
//movies
#movies,
#series {
  .film_vetrina,
  .vetrina {
    .movie_on,
    .serie_vetrina {
      display: flex;
      .image {
        width: 70%;
        img {
          padding-right: 1rem;
          width: 100%;
        }
      }
      .description {
        width: 30%;
        .genres {
          ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .pop_films,
  .on_films,
  .on_air,
  .pop {
    .cards_container {
      display: flex;
      flex-wrap: wrap;
      .card_container {
        width: 20%;
        padding: 0.3rem;
        a,
        .my_card,
        img {
          height: 100%;
        }
      }
    }
  }
  .pop_films,
  .pop {
    .card_container:nth-child(1),
    .card_container:nth-child(8),
    .card_container:nth-child(9),
    .card_container:nth-child(16),
    .card_container:nth-child(17) {
      width: 40% !important;
    }
  }
  .top_films,
  .top {
    .cards_container {
      display: flex;
      overflow-x: auto;
      .card_container {
        position: relative;
        height: 10rem;
        margin: 1rem 1rem 1rem 0;
        &:hover {
          transform: scale(105%);
          transition: all 0.2s ease-in-out;
        }
        &:hover h3 {
          display: block;
        }
        img {
          height: 100%;
        }
        h6 {
          position: absolute;
          top: 0;
          left: 0;
          background-color: $brand-color;
          padding: 0.5rem;
        }
        h3 {
          display: none;
          position: absolute;
          font-size: 1rem;
          background: $brand-color;
          bottom: 0;
          padding: 0.3rem;
        }
      }
    }
  }
}
//mostra movie
#show_movie,
#show_serie {
  .first_movie_container,
  .first_serie_container {
    position: relative;
    top: 0;
    margin-top: -5.5rem;
    margin-bottom: 4rem;
    img {
      width: 100%;
      filter: brightness(0.8);
    }
    .details {
      text-align: start;
      margin: 3rem auto;
      h2 {
        font-size: 4rem;
      }
      p {
        font-size: 1.5rem;
      }
      .subdetails {
        color: $dark-green;
        display: flex;
        flex-direction: column;
        ul {
          display: flex;
          list-style: none;
          padding: 0;
          li {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  .trailer {
    h2 {
      font-size: 3rem;
      color: $brand-color;
      text-align: center;
      letter-spacing: 2rem;
      padding: 0.5rem 0;
      margin: 1.5rem 0;
    }
    .trailer_yt {
      width: 100%;
      height: 40rem;
      margin-bottom: 1rem;
    }
  }
  .valutazione {
    margin: 3rem auto;
    .reviews {
      margin: 3rem 0;
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          width: 25%;
          padding: 0 0.5rem;
          max-height: 15rem;
          overflow-y: auto;
          overflow-x: hidden;
          margin: 2rem 0;
          .autore {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            img {
              margin-right: 0.5rem;
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
            }
            .name_date {
              h6 {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
    .rank {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }
      h6 {
        font-size: 7rem;
        background-color: green;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        line-height: 7rem;
        &:hover {
          box-shadow: 0px 0px 20px 5px $brand-color;
          transition: all 0.4s ease-out;
          cursor: none;
        }
      }
    }
  }
  .similar {
    margin-bottom: 6rem;
    margin-top: 3rem;
    h2 {
      text-align: center;
    }
    .film_container {
      position: relative;
      display: flex;
      a {
        width: calc(100% / 20);
        height: 10rem;
        object-fit: cover;
        &:hover {
          transform: scale(120%);
          border-radius: 5px;
          width: 8rem;
          transition: all ease-in-out;
        }
        &:hover h3 {
          display: block;
          position: absolute;
          font-size: 0.8rem;
          width: 10rem;
        }
        h3 {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .premiere {
    iframe {
      height: 35rem;
    }
  }
}
#show_serie {
  .season {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .season_container {
      width: calc(100% / 4);
      padding: 0.3rem;
      img {
        width: 100%;
      }
    }
  }
}
#favorites {
  .principal_container {
    display: flex;
    flex-wrap: nowrap;
    .left {
      border-right: 1px solid $brand-color;
    }
    .right {
      border-left: 1px solid $brand-color;
    }
    .movies {
      padding: 1rem;
      width: 50%;
      h2 {
        text-align: center;
        margin: 2rem 0;
      }
      .movies_container {
        .movie {
          padding: 0.5rem;
          width: 100%;
          img {
            width: 100%;
            border-radius: 10px;
            &:hover {
              box-shadow: 0px 0px 10px 0px $brand-color;
            }
          }
          .details {
            margin: 1rem 0;
            display: flex;
            justify-content: space-between;
            .action {
              display: flex;
            }
          }
        }
      }
    }
  }
}
//admin
#admin {
  #users-table {
    color: white !important;
    .odd {
      background-color: $brand-color;
    }
  }
}
footer {
  margin-top: 3rem;
  background-color: $brand-color;
  color: $dark-color;
  padding: 0.5rem;
}
